{include file='public/header' /}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">个人信息</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button class="btn btn-primary col-sm-1" id="changepwd" onclick="javascript:showchangepwd()" style="float: right;margin-right:40px;height: 40px;">修改密码</button>
                    <br/><br/>
                </div>
                <!-- /.panel-heading -->
                <form role="form" action="{:url('user/index')}" method="post">
                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <tbody>
                            <input type="hidden" value="{$mess.number}" name="number"/>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">姓名</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="username" name="name" disabled type="text"  value="{$mess.name}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">电话</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="userphone" name="phone" disabled type="text"  value="{$mess.phone}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">角色</td>
                                <td style="background: #fff">
                                    {if condition="$mess.role eq 1"}
                                    <input style="border:0;" class="role" name="role" disabled type="text"  placeholder="超级管理员"/>
                                    {elseif condition="$mess.role eq 2"}
                                    <input style="border:0;" class="role" name="role" disabled type="text"  placeholder="网点负责人"/>
                                    {elseif condition="$mess.role eq 3"}
                                    <input style="border:0;" class="role" name="role" disabled type="text"  placeholder="普通员工"/>
                                    {/if}
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">生日</td>
                                <td style="background: #fff">
                                    <input style="border:0;" disabled type="text" class="birthday" name="birthday"  value="{$mess.birthday}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">邮箱</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="email" name="email" disabled type="text"  value="{$mess.email}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">住址</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="address" name="address" disabled type="text"  value="{$mess.address}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">所属网点</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="point" name="point" disabled type="text"  value="{$mess.point}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">入职时间</td>
                                <td style="background: #fff">
                                    <input style="border:0;" disabled type="text" class="jointime" name="jointime" placeholder="{$mess.jointime}"/>
                                </td>
                            </tr>
                            <tr>
                                <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">紧急联系电话</td>
                                <td style="background: #fff">
                                    <input style="border:0;" class="phonebackup" name="phonebackup" disabled type="text"  value="{$mess.phonebackup}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.panel-body -->
                    <input type="submit" class="btn btn-success col-sm-offset-3 col-sm-2" id="saveuser" style="margin-top:20px;margin-bottom: 20px; display: none " />
                </form>
                {if condition="$mess.role eq 1"}
                <button class="btn btn-warning col-sm-offset-3 col-sm-3" id="userchange" style="margin-top:20px;margin-bottom: 20px;">修改</button>
                {else}
                <button class="btn btn-warning col-sm-offset-3 col-sm-3"  style="margin-top:20px;margin-bottom: 20px;" disabled>如需修改，请联系管理员</button>
                {/if}
                <button class="btn btn-primary col-sm-2" id="canceluser" style="margin-left: 40px;margin-top:20px;margin-bottom: 20px; display: none">取消</button>
            </div>

            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>



</div>
<!-- /#wrapper -->

<div class="modal fade" id="changeword"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="javascript:hidechangepwd()">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    员工详情
                </h4>
            </div>
            <form role="form" action="{:url('user/changepasswd')}" method="post">
                <div class="modal-body">
                    <table width="100%" class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">原密码</td>
                            <td style="background: #fff" >
                                <input name="oldpwd" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">新密码</td>
                            <td style="background: #fff">
                                <input name="newpwd" type="password">
                            </td>
                        </tr>
                        <tr>
                            <td style="background: #f5f5f5; width:30%;color: #337ab7; font-weight:600;">确认密码</td>
                            <td style="background: #fff">
                                <input name="renewspwd" type="password">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="javascript:hidechangepwd()">取消</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div id="usershadow"></div>

{include file='public/bottom' /}
